.containerDetalle {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 4rem;
}

.containerAncho {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 350px;
    height: 100%;
}

.cardAncho {
    margin-top: 50px;
    align-items: center;
    
    width: 350px;
}

.picture {
    width: 350px;
    box-shadow: 2px 2px 12px black;
    border-radius: 10px;

}

.h5 h6 {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: bold;
}

.goCart {
    display: flex;
        color: #fff;
        padding: 10px;
        font-family: 'Roboto';
        font-size: 14px;
        text-align: center;
        text-decoration: none;
        justify-content: center;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        
        outline: none;
        border-radius: 5px;
        z-index: 0;
        background: #fff;
        overflow: hidden;
        border: 1px solid #d90429;
        color: #d90429;
}

.goCart:hover {
        color: #fff;
}

.goCart:hover:after {
        width: 100%;
    }

    .goCart:after {
        content: "";
        position: absolute;
        z-index: -1;
        transition: all 0.3s ease;
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
        background: #d90429;
        text-align: center;
}