.picture {
    width: 250px;
    box-shadow: 2px 2px 12px black;

}

.h1 {
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.h5 h6 {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: bold;
}

