.btnCarrito {
    display: flex;
    border: 0;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    padding: 0px 10px 0px 10px;
    background-color: hsl(0, 0%, 97%);
}

.btnCarrito a {
    margin-left: 5px;
}