.btnCarrito {
    display: flex;
    border: 0px;
    align-items: center;
    justify-content: center;
    padding: 0px 10px 0px 10px;
    background-color: hsl(0, 0%, 97%);
    border-radius: 10px;
    text-decoration: none;
    color: #7e0101;
}

.btnCarrito a {
    margin: 5px;
    text-decoration: none;
    color: black;
}

.btnCarrito:hover {
    background-color: hsl(0, 0%, 80%);
    color: black;
}