/* PARTE DE NAVEGACION */
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth; }
  
.logo{
    font-family: 'Bebas Neue';
    font-size: 40px;
}

.nav {
    width: 100%;
}
  
  .nav-bar {
    font-family: 'Bebas Neue';
    font-size: 20px;
    margin: 0px, 100px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }
  
  .nav-link {
    font-weight: 300;
    text-decoration: none;
    color: black; }
  
  .nav.link:hover {
    color: black; }
  
  .nav-link:link {
    color: black; }
  
  nav ul li a::after {
    content: '';
    width: 0%;
    background: #BF2222;
    display: block;
    margin: auto;
    height: 2px;
    transition: .8s; }
  
  nav ul li a::before {
    content: '';
    width: 0%;
    background: #BF2222;
    display: block;
    margin: auto;
    height: 2px;
    transition: .8s; }
  
  nav ul li a:hover::after {
    width: 100%;
    transform-origin: right; }
  
  nav ul li a:hover::before {
    width: 100%;
    transform-origin: left; }
  
  .nav-link:visited {
    color: black; }
  
  nav ul li .active {
    transform: scale(1.2); }
  
  