.contenedorCounter{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: center;
}

.counter {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    
}

.counter p {
    margin: auto 0;
}

.btnCounter {
    padding: 2px 10px;
    margin: 5px;
    
    border-radius: 5px;
    background-color: rgb(167, 4, 4);
    color: #ffffff;
    border: 1px solid #6c757d;
}

.btnCounter:hover {
    background-color: rgb(75, 0, 0);
    border: 1px solid #6c757d;
    color: white;
}